extends ../layout

block content
	h1.
		#{title}
	form#formAddMission(name="addmission",method="post",action="/missions")
		p Name:
			input#inputName(type="text", placeholder="ex. Dev", name="name")
		p Badge:
			input#inputBadge(type="text", placeholder="ex. Google", name="company")

		p
			button#btnSubmit(type="submit") submit
